.sobre {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.sobre .overlap-wrapper {
  position: relative;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 52.08%, rgb(255, 255, 255) 100%);
  width: 100%;
  height: 1080px;
}

.sobre .overlap {
  position: relative;

  height: 1054px;
  top: 13px;
  left: 11px;
}

.sobre .textura-fundo-p1 {
  position: absolute;
  width: 1492px;
  height: 1054px;
  top: 0;
  left: 0;
}

.sobre .textura-fundo-p2 {
  position: absolute;
  width: 1492px;
  height: 1054px;
  top: 0;
  left: 227px;
}

.sobre .esquerda {
  position: absolute;
  width: 100%;
  height: 25%;
  top: 5%;
  left: 5%;
  display: flex;
}

.sobre .desc-integrantes {
  color: var(--preto-claro);
  position: absolute;
  font-size: 50px;
  font-family: "Roboto Condensed-Bold", Helvetica;
  font-weight: 400;
  word-wrap: break-word;

}

.sobre .desc-esquerda {
  top: 92px;
  left: 581px;
  color: #1a1a1a;
  position: absolute;
  width: 50%;
  font-family: "Roboto Condensed-Bold", Helvetica;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;

}


.sobre .span {
  font-family: "Roboto Condensed-Regular", Helvetica;
}

.sobre .foto-esq {
  position: absolute;
  width: 476px;
  height: 472px;
  top: 0;
  left: 0;
}

.sobre .foto-esq img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: #1a1a1a solid 5px;
}


.sobre .fundo {
  top: 15px;
  left: 17px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #7d5cef;
  border-radius: 227px;
}

.sobre .frente {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #1a1a1a;
  border-radius: 227px;
}

.sobre .direita {
  position: absolute;

  height: 25%;
  top: 50%;
  left: 5%;


}

.sobre .desc-direita {
  top: 115px;
  left: 0;
  color: #1a1a1a;
  position: absolute;
  width: 50%;
  height: 50%;
  font-family: "Roboto Condensed-Bold", Helvetica;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
}

.sobre .foto-dir {
  position: absolute;
  width: 25%;
  height: 25%;
  top: 0;
  left: 1025px;
}

.sobre .foto-dir img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: #1a1a1a solid 5px;
}

.sobre .fundo-1 {
  top: 15px;
  left: 17px;
  position: absolute;
  width: 454px;
  height: 454px;
  background-color: #7d5cef;
  border-radius: 227px;
}

.sobre .fundo-2 {
  top: 18px;
  left: 22px;
  position: absolute;
  width: 454px;
  height: 454px;
  background-color: #7d5cef;
  border-radius: 227px;
}