* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* para ver o tamanho dos elementos */

    /* outline: #6234ff 3.5px solid; */

    /* outros recursos de desenvolvimento */

    outline-offset: 3.5px;


}

.div {
    background-color: #0d0d0d;
    display: flex;
    flex-direction: column;
}

.nav {
    background-color: rgba(0, 0, 0, 0.2);
    align-self: end;
    display: flex;
    width: 100%;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 100px 10px 10px;
    z-index: 1;
}

.grupo-botao-nav a {
    top: 10%;
    color: #fff;
    text-decoration: none;
    width: 10%;
    font: 400 30px Staatliches, sans-serif;
}

.grupo-botao-nav a:hover {
    color: #6234ff;
}



@media (max-width: 991px) {
    .nav {
        max-width: 100%;
        flex-wrap: wrap;
        padding: 0 20px;
    }
}

.img {
    aspect-ratio: 1.12;
    object-fit: contain;
    object-position: center;
    width: 47px;
    left: -210px;
    fill: linear-gradient(180deg, #6234ff 0%, #8a68ff 100%);
    overflow: hidden;
    align-self: start;
    max-width: 100%;
   
}

.grupo-botao-nav {
    width: 80%;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    margin: auto 0;
    padding: 0 20px;
}

@media (max-width: 991px) {
    .grupo-botao-nav {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.botao-nav {
    color: #fff;
    align-self: start;
    font: 400 30px Staatliches, sans-serif;
}

@media (max-width: 991px) {
    .botao-nav {
        font-size: 20px;
    }
}


@media (max-width: 991px) {
    .div-7 {
        white-space: initial;
    }
}

.div-8 {
    align-self: end;
    z-index: 1;
    margin-top: 19px;
    width: 100%;
    padding: 0 20px;
}

@media (max-width: 991px) {
    .div-8 {
        max-width: 100%;
    }
}

.div-9 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-9 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 17%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column {
        width: 100%;
    }
}

.img-2 {
    /* img lateral */
    aspect-ratio: 0.43;
    object-fit: contain;
    object-position: center;
    width: 20vw;
    left: -40%;
    overflow: hidden;
    margin-top: 41px;
    max-width: 100%;
}





@media (max-width: 991px) {

    .img-2,
    .img-5 {
        /* fazer a imagem 2 e 5 sumir */
        display: none;
    }
}

.column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 40%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-2 {
        width: 100%;
    }
}

.logo_cnxs {
    aspect-ratio: 1.71;
    object-fit: contain;
    object-position: center;
    width: 100vw;
    overflow: hidden;
    margin-top: 184px;
    max-width: 100%;
}

@media (max-width: 991px) {
    .logo_cnxs {
        margin-top: 40px;
    }
}

.column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 29%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-3 {
        width: 100%;
    }
}

.div-10 {
    display: flex;
    flex-direction: column;
    margin: 108px -48px 0 0;
}

@media (max-width: 991px) {
    .div-10 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.img-4 {
    aspect-ratio: 1.98;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    align-self: start;
}

@media (max-width: 991px) {
    .img-4 {
        max-width: 100%;
    }
}

.div-11 {
    /* texto pagina 1 */
    color: #fff;
    padding: 0;
    align-self: start;
    margin-top: 54px;
    font: 600 30px/117% Roboto, sans-serif;
}

@media (max-width: 991px) {
    .div-11 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.div-12 {
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: linear-gradient(90deg, #0c8009 -2.57%, #43d13f 100%);
    align-self: start;
    display: flex;
    margin-top: 79px;
    width: 275px;
    max-width: 100%;
    flex-grow: 1;
    flex-direction: column;
    padding: -9px 8px 9px -8px;
}

@media (max-width: 991px) {
    .div-12 {
        margin-top: 40px;
    }
}

.div-13 {
    color: #1a1a1a;
    align-self: stretch;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: linear-gradient(90deg, #06ca00 0%, #35ff2f 99.85%);
    z-index: 1;
    width: 100%;
    padding: 11px 51px 11px 52px;
    font: 400 48px/103% MuseoModerno, -apple-system, Roboto, Helvetica,
        sans-serif;
}


@media (max-width: 991px) {
    .div-13 {
        font-size: 40px;
        white-space: initial;
        padding: 0 20px;
    }
}

.column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 14%;
    margin-left: 20px;
}

@media (max-width: 991px) {
    .column-4 {
        width: 100%;
    }
}

.img-5 {
    aspect-ratio: 0.23;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
    flex-grow: 1;
}

.div-14 {
    align-self: center;
    width: 100%;
    height: 100%;

    padding: 0 20px;
}

@media (max-width: 991px) {
    .div-14 {
        max-width: 100%;
    }
}

.div-15 {
    gap: 20px;
    display: flex;
}

@media (max-width: 991px) {
    .div-15 {
        flex-direction: column;
        align-items: stretch;
        gap: 0px;
    }
}

.column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 30%;
    margin-left: 0px;
}

@media (max-width: 991px) {
    .column-5 {
        width: 100%;
    }
}

.div-16 {
    display: flex;
    flex-direction: column;
    margin: auto -431px auto 0;
}

@media (max-width: 991px) {
    .div-16 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.img-6 {
    aspect-ratio: 2.53;
    object-fit: contain;
    object-position: center;
    width: 583px;
    overflow: hidden;
    align-self: end;
    max-width: 100%;
}

.div-17 {
    color: #fff;
    text-align: right;
    align-self: end;
    margin-top: 84px;
    padding: 20px 20px;
    font: 600 30px/128% Roboto, sans-serif;

}

@media (max-width: 991px) {
    .div-17 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.column-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 70%;

    margin-left: 20px;

}

@media (max-width: 991px) {
    .column-6 {
        width: 100%;
    }
}

.img-tablet {
    aspect-ratio: 1.33;
    object-fit: contain;
    object-position: center;
    width: 50%;
    overflow: hidden;
    flex-grow: 1;

    margin-left: 40%;
}

@media (max-width: 991px) {
    .img-tablet {
        max-width: 100%;
    }
}

.div-18 {
    disply: flex;
    flex-direction: column;
    overflow: hidden;
    align-self: end;
    position: relative;
    display: flex;
    min-height: 2708px;
    width: 100%;
    padding: 86px 20px 0;
}

@media (max-width: 991px) {
    .div-18 {
        max-width: 100%;
    }
}

.img-8 {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.img-9 {
    aspect-ratio: 1.48;
    object-fit: contain;
    object-position: center;
    width: 604px;
    overflow: hidden;
    align-self: start;
    max-width: 100%;
}

.img-10 {
    aspect-ratio: 1.11;
    object-fit: contain;
    object-position: center;
    width: 219px;
    stroke-width: 3.5px;
    stroke: #7455e1;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: 933px 0 0 -180px;
}

@media (max-width: 991px) {
    .img-10 {
        margin-top: 40px;
    }
}

.div-19 {
    position: relative;
    color: #fff;
    align-self: center;
    margin-top: 195px;
    max-width: 1616px;
    padding: 20px 20px;
    font: 400 4vw Roboto, sans-serif;
    line-height: 1.2;
    text-align: center;
    z-index: 1;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;

}

@media (max-width: 991px) {
    .div-19 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.div-20 {
    position: relative;
    background-color: rgba(0, 0, 0, 0.35);
    align-self: stretch;
    display: flex;
    min-height: 99px;
    width: 100%;
    flex-direction: column;
    margin: 276px -20px 0 0;
}

@media (max-width: 991px) {
    .div-20 {
        max-width: 100%;
        margin-top: 40px;
    }
}

.sobre-dev {
    background-color: #262626;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.sobre-dev .div {
    background-color: #262626;
    overflow: hidden;
    width: 100%;
    height: 2161px;
    position: relative;
}

.sobre-dev .sobre-devs {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 1283px;
    left: 0;
}

.sobre-dev .footer {
    position: absolute;
    width: 100%;
    height: 10%;
    top: 30%;
    left: 0;
    background-color: #00000059;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    font-family: "staatliches";
    font-size: 40px;
    padding: 0 5%;
}

.sobre-dev .footer p {
    
    font-family: "staatliches";
    font-size: 40px;
    
}

.sobre-dev .footer img {
    width: 10%;
    margin-right: 10px;
    padding: 10px;
    color: #fff;
}

.sobre-dev .footer i {
    
    font-size: 40px;
    padding: 10px;
    color: #fff;
}

.sobre-dev .footer i:hover {
    color: #6031ff;
    transform: scale(1.1);
}

.sobre-dev .texto-final {
    position: absolute;
    width: 80%;
    top: 0;
    left: 10%;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 30px;
    text-align: justify;
    letter-spacing: 0;
    line-height: 43px;
}

.sobre-dev .titulo {
    position: absolute;
    width: 974px;
    height: 99px;
    top: 10%;
    left: 10%;
    font-family: "Staatliches", Helvetica;
    font-weight: 300;
    color: #ffffff;
    /* futuramente fazer o tamanho da fonte se adaptar ao tamanhoa da tela */
    font-size: 80px;

    letter-spacing: 0;
    line-height: normal;
}

.sobre-dev .desc-developer {
    position: absolute;
    top: 900px;
    left: 327px;
    font-family: "Staatliches-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
}

.sobre-dev .fotos-grupo {
    position: absolute;
    width: 80%;
    height: 22%;
    top: 20%;
    left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sobre-dev .foto {
    background-color: #464646;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 50px;
    width: 24%;
    height: 100%;
    margin: 0 1%;
    position: absolute;

    /* modelo padrão das fotos */

    background-image: url(https://via.placeholder.com/328x408);
}

.sobre-dev .foto .nome {
    position: absolute;
    top: 120%;
    left: 60%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-family: "staatliches";
    font-weight: 400;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
}

.sobre-dev .foto-1 {
    /* foto do desenvolvedor 1 */
    top: 20%;
    left: 0;
    /* background-image: url(../assets/fotos/devs/mts.jpeg); */
    background-image: url(https://avatars.githubusercontent.com/u/69434680);
}


.sobre-dev .foto-2 {
    /* ruth */
    top: 0;
    left: 25%;
    background-image: url(https://avatars.githubusercontent.com/u/99757116);
}

.sobre-dev .foto-3 {

    top: 20%;
    left: 50%;
    background-color: #535353;
    background-image: url(../assets/fotos/devs/caio.png);
    background-image: url(https://avatars.githubusercontent.com/u/122299223);

}

.sobre-dev .foto-4 {

    top: 0;
    left: 75%;
    /* background-image: url(../assets/fotos/devs/ruth.png); */
    background-image: url(https://avatars.githubusercontent.com/u/143914622);

}


.teste-fundo {
    width: 100%;
    height: 2065px;
    position: relative;
    background-image: url(../assets/texturas/bckgrd.svg);
    background-color: #1a1a1a;
    background-size: cover;
}