:root {
    --preto-claro: #1a1a1a;
    --roxo : #6031ff;
}

* {
    margin: 0;
    padding: 0;
   
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--roxo);
    text-align: center;
    background-color: var(--preto-claro);

    width: 100vw;
    height: 100vh;
    /* 100% da altura da viewport */
 
    background: #1A1A1A;
    display: flex;
    flex-direction: column;
    /* Alinhe os filhos na vertical */
    justify-content: center;
    /* Centralize verticalmente */
    align-items: center;
    /* Centralize horizontalmente */
}

.FrutoManutenO {
    
    /* 50% da largura do pai (EmManutenO) */
    position: relative;
    display: flex;
    flex-direction: column;
    /* Alinhe os filhos na vertical */
    justify-content: center;
    /* Centralize verticalmente */
    align-items: center;
    /* Centralize horizontalmente  */
    
}

.FrutoManutenO img {

    /* fazer com que a imagem diminua de tamanho confome a tela */
    max-width: 100%;
    max-height: 100%;
    /* 100% da largura do pai (EmManutenO) */
    
    width: 100%;
    /* 100% da largura do pai (EmManutenO) */
    height: 100%;
    /* 100% da altura do pai (EmManutenO) */
  
    left: 50%;
    /* Centralize horizontalmente */
    top: 0;
    /* Posicione a 50% da altura do pai (EmManutenO) */
   
   
} 

.infosManuten {
    text-align: center;
  
    font-size: 5vw;
    /* Tamanho de fonte responsivo em relação à largura da viewport */

    font-weight: 400;
    word-wrap: break-word;
    position: absolute;
    left: 50%;
    /* Centralize horizontalmente */
    top: 75%;
    /* Posicione a 80% da altura do pai (EmManutenO) */
    transform: translateX(-50%);
    /* Centralize horizontalmente */
}

.SiteEmManutenO {
    text-align: center;
    
    font-size: 5vw;
    /* Tamanho de fonte responsivo em relação à largura da viewport */

    font-weight: 400;
    word-wrap: break-word;
    position: absolute;
    left: 50%;
    /* Centralize horizontalmente */
    top: 15%;
    /* Posicione a 10% da altura do pai (EmManutenO) */
    transform: translateX(-50%);
    /* Centralize horizontalmente */
}

.relogio {
    /* Posicione a 50% da altura do pai (EmManutenO) */
    transform: translateX(-5%);
    /* Centralize horizontalmente */
}


